# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
.venv/
rejepa/.venv/
Saber/.venv/
__pycache__/
*.pyc
checkpoints/
rejepa/checkpoints/
Saber/checkpoints/
visualizations/
rejepa/visualizations/
Saber/visualizations/
data/
rejepa/data/
Saber/data/
Datasets/

